<template>
  <div id="app">
    <h1>{{ message }}</h1>
    <router-view></router-view>
    <router-link :to="{name: 'about'}">About</router-link>
    <router-link :to="{name: 'contact'}">Contact</router-link>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        message: 'Welcome',
      }
    }
  }
</script>